@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&family=Open+Sans:wght@600&display=swap');

:root {
    --red: #D60404;
    --yellow: #E3A01D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

body {
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}